/* style.css */

.intro {
    background: url('img/img1.jpg') no-repeat center center fixed;
    background-size: cover;
}
.theme{
    right:5%;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333;
    padding: 15px 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
}

/* Стили для бренда в шапке */
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

/* Стили для навигационных ссылок в шапке */
.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav a {
    color: white !important;
    margin: 0 15px; /* Отступы между ссылками */
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav a:hover {
    color: #F7512E !important;
}

/* Стили для иконки бургера */
.navbar-toggler {
    color: white;
    border-color: white;
    display: none; /* Скрываем иконку бургера для широких экранов */
    font-size: 24px; /* Размер иконки бургера */
    cursor: pointer;
}

.navbar-collapse{
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.light-theme body {
    background-color: #ffffff;
    color: #333333;
}

.dark-theme body {
    background-color: #333333;
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 0px;
}

.intro {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.intro h2 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
}

.intro h4 {
    font-family: 'Lobster', cursive;
    color: #F7512E;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-title,
.dark-theme .card-title {
    font-family: 'Lobster', cursive;
    color: #F7512E;
}

section h1,
.dark-theme section h1 {
    font-family: 'Lobster', cursive;
    color: #F7512E;
    margin-top: 40px;
}

section p,
.dark-theme section p {
    color: #555;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
}
.burger-popup{
    display: none;
}
.popup-name{
    display: none;
}
@media (max-width: 768px) {
    .navbar-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px; /* Выравниваем с учетом высоты шапки */
        left: 0;
        background-color: #333; /* Цвет фона для мобильного вида */
        width: 100%;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        width: 2rem;
      }
      
      .burger {
        width: 30px;
        height: 3px;
        top:50%;
        transform: translateY(-50%);
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      .burger-popup.active{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 10px;
        left: 0;
        z-index: 900;
      }
      .burgrulist{
        margin-block-end: 2em;
        padding-inline-start: 0;
        margin-top: 1rem;
      }
      .burger-popup.active a{
        color: white !important;
        margin: 0 15px; /* Отступы между ссылками */
        font-size: 18px;
        text-decoration: none;
        transition: color 0.3s ease;
      }
      .popup-name{
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
      .navbar{
        height: 4rem;
      }
      .navbar.active{
        align-items:first baseline;
        height: 9rem;
      }
     
      .burger-menu.active{
        top:10%
      }
      .burger-menu.active .burger:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
      }
      
      .burger-menu.active .burger:nth-child(2) {
        opacity: 0;
      }
      
      .burger-menu.active .burger:nth-child(3) {
        transform: rotate(45deg) translate(-6px, -6px);
      }
    .navbar-nav a {
        margin: 10px 15px; /* Отступы между ссылками на мобильных устройствах */
    }

    .navbar-nav.active {
        display: flex;
    }
}

li {
    list-style-type: none;
    list-style: none;
}

.animated,
.active-section {
    opacity: 1;
    transform: translate(0, 0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    will-change: opacity, transform;
}

.scroll-animated {
    opacity: 0;
    transform: translateY(20px);
}

.transparent-header {
    background-color: rgba(51, 51, 51, 0.5);
    transition: background-color 0.3s ease;
}

.dark-theme.intro {
    background-image: none;
}

#gallery {
    padding: 40px 0;
}

#gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.themeButton {
    list-style: none;
}
#themeToggleBtn1,
#themeToggleBtn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateY(-40%);
    top: 50%;
    right: 20%;
}

#themeText {
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}
#themeToggleBtn1::before,
#themeToggleBtn::before {
    content: "\2600";
    font-size: 24px;
    transition: transform 0.3s ease;
}
.dark-theme #themeToggleBtn1::before,
.dark-theme #themeToggleBtn::before {
    content: "\1F319";
    transform: rotate(180deg);
}

.light-theme #themeText::before {
    content: "\1F31E";
    font-size: 18px;
    margin-right: 8px;
}

.dark-theme #themeText::before {
    content: "\2600";
    font-size: 18px;
    margin-right: 8px;
}

/* Дополнительные стили */
.transparent-header .navbar-brand,
.transparent-header .navbar-nav a {
    color: white; /* Цвет текста в прозрачной шапке */
}

.dark-theme .navbar,
.dark-theme .navbar-brand,
.dark-theme .navbar-toggler,
.dark-theme .navbar-nav a,
.dark-theme footer,
.dark-theme .intro h2 {
    color: #ffffff;
}

.dark-theme .navbar {
    background-color: #1a1a1a;
    padding: 15px 0;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.2);
}

.dark-theme .navbar-toggler {
    border-color: #ffffff;
}

.dark-theme footer,
.dark-theme .intro {
    background-color: #1a1a1a;
}

.dark-theme .intro h4,
.dark-theme .card-title {
    color: #F7512E;
}

.dark-theme body {
    background-color: #333333;
    color: #ffffff;
}

/* Добавлен стиль для темного текста */
.dark-theme,
.dark-theme.intro,
.dark-theme .navbar-nav a,
.dark-theme footer,
.dark-theme section p {
    color: #ffffff; /* Цвет текста для темной темы */
}

.dark-theme.intro {
    background-image: none;
}
